#mainheader {
    height: 50px;
    line-height: 50px;
    padding-bottom: 4px;
    background-color: goldenrod;
    color: black;

    .contain { 
        width: 100%; max-width: 1020px; margin: 0 auto;
    }
    h1 { 
        margin: 0 0 0 1em; float: left; cursor: pointer; 
    }

    a { 
        color: #fff; text-decoration: none; 
    }
}
