@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$font_family_main: "Roboto Condensed", sans-serif;

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    margin-top: 4em;
    font-family: $font_family_main;
    height: 100vh;

    .app {
        width: 50%;
        background-color: aliceblue;
        padding: 1em;
        text-align: center;
        border-radius: 10px;
    }

    .caption {
        padding: .25em;
    }
    .checkBox {
        width: 100%;
    }

    #meterInput {
        padding: .5em;
    }

    input:invalid {
        background-color: pink;
    }
    input:valid {
        background-color: lightseagreen;
    }

    .btn {
        @extend .app;

        button {
            border: outset whitesmoke;
            padding: .5em;
            margin-right: 1em;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 5px 6px 3px rgb(124, 120, 120);

            &:hover {
                background-color: rgb(7, 90, 7);
                border: inset grey;
                color: white;
            }
        }
    }
}

