.navmenu {
    display: inline-block;
    box-shadow: 0 0 70px #fff;
    margin-top: 0;
    width: 100%;
}

/* a little "umph" */
.upp_line {
    background: #6EAF8D;
    background: linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
    background-size: 50px 25%;
    padding: 2px;
    display: block;
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
    
}

ul {
    list-style: none;
    position: relative;
    text-align: left;
}

li {
    float: left;
}

/* clear'n floats */
ul:after {
    clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
    position: relative;
    background: #2B2B2B;
    background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #0E0E0E;
    box-shadow: 2px 2px 3px #888;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
}

/* prime */
ul.main_list li a {
    display: block;
    padding: 20px 30px;
    border-right: 1px solid #3D3D3D;
}

ul.main_list li:last-child a {
    border-right: none;
}

ul.main_list li a:hover {
    color: #000;
}

/* subs */
ul.under_list {
    position: absolute;
    z-index: 200;
    box-shadow: 2px 2px 0 #BEBEBE;
    width: 35%;
    display: none;
}

ul.under_list li {
    float: none;
    margin: 0;
}

ul.under_list li a {
    border-bottom: 1px dotted #ccc;
    border-right: none;
    color: #000;
    padding: 15px 0;
}

ul.under_list li:last-child a {
    border-bottom: none;
}

ul.under_list li a:hover {
    color: #000;
    background: #ffffff;
}

/* sub display*/
ul.main_list li:hover ul {
    display: block;
    background: #ffffff;
}

/* keeps the tab background white */
ul.main_list li:hover a {
    background: #ffffff;
    color: #666;
    text-shadow: none;
}

ul.main_list li:hover>a {
    color: #000;
}

@media only screen and (max-width: 600px) {
    .upp_line {
        padding: 3px;
    }

    .navmenu {
        width: 50%;
        margin-top: 0px;
    }

    li {
        float: none;
    }

    ul.main_list .head_list:after {
        content: "\27A4";
        color: white;
        font-size: .75em;
    }
    ul.main_list .head_list:hover:after {
        content: "▼";
        color: white;
    }
    ul.main_list .under_list li:hover a ~ .head_list:after {
        content: "▼";
    }

    ul.main_list li:hover a {
        background: none;
        color: #ffffff;
        text-shadow: 1px 1px #000;
    }

    ul.main_list li:hover ul {
        display: block;
        background: #272727;
        color: #fff;
    }

    ul.under_list {
        display: none;
        position: static;
        box-shadow: none;
        width: fit-content;
    }

    ul.under_list li a {
        background: #272727;
        border: none;
        color: #8B8B8B;
    }

    ul.under_list li a:hover {
        color: #ffffff;
        background: none;
    }
}






// $main-font-size: 2em;
// $second-font-size: 1.3em;
// $header-background-color: darken(#395886, 25%);
// $bars-color: #2C363F;
// $main-font-family: 'Nanum Gothic', sans-serif;
// $second-font-family: 'Roboto', sans-serif;
// $hover-color: darken(#c42b2b, 5%);

// header {
//     width: 100%;
//     height: auto;
//     display: flex;
//     justify-content: space-between;
//     background-color: $header-background-color;
//     position: relative;
//     font-family: $main-font-family;
//     font-weight: 700;
//     position: fixed;
//     z-index: 1;
// }

// nav {
//     // background-color: $header-background-color;
//     font-size: 1.3em;
//     display: none;
//     list-style: none;
//     position: absolute;
//     width: 250px;
//     white-space: nowrap;
//     z-index: 1;
//     top: 0;
//     right: 0;

//     ul {
//         width: 100%;
//         margin: 0 auto;
//         text-align: center;
        
//     }
    

// }

// .links {
//     padding: 1.1em .50em;
//     display: flex;
//     background-color: $header-background-color;

//     a {
//         color: #fff;
//         text-decoration: none;
//         font-weight: 700;
//         font-family: $second-font-family;
//         margin: 0 1em;
//         text-transform: uppercase;
//         // opacity: 0.75;
//         display: inline-block;
//         position: relative;
//         padding: 10px;

//         &:hover:not(.action) {
//             opacity: 1 !important;
//         }
//     }

//     a:after {
//         content: "";
//         position: absolute;
//         bottom: 0;
//         height: 3px;
//         left: 50%;
//         background-color: $hover-color;
//         transition: width 0.3s ease 0s, left 0.3s ease 0s;
//         width: 0;
//     }
    
//     a:hover:not(.action):after{ 
//         width: 100%; 
//         left: 0;
//     }

//     .action {
//         border-bottom: 3px solid $hover-color;
//     }
// }

// .menuBtn {
//     display: flex;
//     align-items: center;
//     border: rgb(0, 0, 0) solid 2px;
//     padding: 8px 10px;
//     cursor: pointer;

//     .menu-text {
//         font-size: 1.2em;
//         color: $bars-color;
//         font-family: $second-font-family;
//         font-weight: 600;
//     }

//     .menu-icon {
//         margin-right: 5px;
    
//         .bars {
//             display: block;
//             width: 20px;
//             height: 3px;
//             background-color: $bars-color;
//             margin: 5px 0;
//         }
    
//         .cross1 {
//             width: 25px;
//             transform: rotate(45deg);
//             position: relative;
//             top: 5px;
//         }
    
//         .cross2 {
//             width: 25px;
//             transform: rotate(135deg);
//             position: relative;
//             top: -3px;
//         }
//     }
    
// }

// .open {
//     margin: 0.75em;
//     border-radius: 8px;
// }

// .header-section {
//     width: 50%;
//     padding: .20em;
//     display: flex;
//     align-items: center;
    
//     h2 {
//         color: #fff;
//         text-decoration: none;
//         cursor: pointer;

//     }

// }

// @media only screen and (min-width: 992px) {

//     .menuBtn {
//         display: none;
//     }

//     #open-menu {
//         display: none !important;
//     }

//     nav {
//         display: block !important;
//         position: static;
//         right: 0;
//         top: 0;
//         height: auto;
//         font-size: $second-font-size;
//         width: auto;
//     }

//     header nav ul {
//         height: 100%;
//         display: flex;
//         align-items: center;
//     }

//     header nav .links {
//         display: inline;
//         padding: 1em 0;
//         white-space: nowrap;
//     }

// }


