<header class="navmenu">
    <span class="upp_line"></span>
    <nav>
        <ul class="main_list">
            <li>
                <a href="#" class="head_list">Hemsida</a>
                <ul class="under_list">
                    <li><a href="#">Bilder</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="head_list">converter</a>
                <ul class="under_list">
                    <li><a href="#">enhet converter</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="head_list">om</a>
                <ul class="under_list">
                    <li><a href="#">om Kmoment03</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>


<!-- <header id="scroll_function">
    <section class="header-section">
        <h2 class="logo" tabindex="0" onclick='window.location.href = "./index.html"'><img id="mainlogo" src="/src/images/movie_lover.svg" alt="movie lovers logo"></h2>
    </section>
    <button class="menuBtn open" id="open-menu">
        <span class="menu-icon">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </span>
        <span class="menu-text">Meny</span>
    </button>
    <nav id="nav-menu">
        <button class="menuBtn close" id="close-menu">
            <span class="menu-icon">
                <span class="bars cross1"></span>
                <span class="bars cross2"></span>
            </span>
            <span class="menu-text">stäng</span>
        </button>
        <ul>
            <li class="links"><a class="action" href="/src/index.html">Startsida</a></li>
            <li class="links"><a href="#">om projekt</a>
            </li>
            <li class="links"><a href="#">Om Sass</a></li>
            <li class="links"><a href="#">kontakt</a></li>
            
        </ul>
    </nav>
</header> -->